/* ------------------------ Global attributes ------------------------ */
body {
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif; 
}

div p {
  font-size: small;
}

div h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

div h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

div h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

div h4 {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 20px;
  font-weight: lighter;
}

div h5 {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 10px;
}

label {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 18px;
  font-weight: lighter;
}

.login-button {
  display: inline;
  padding: 0.05em 1.5em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  margin-top: 20px;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color:white;
  background-color: black;
  text-align:center;
  transition: all 0.2s;
  }

.button:hover{
  color: #000000;
  background-color:#FFFFFF;
  border-color: black;
}

/* Google font references */
/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Noto Sans JP', sans-serif; 
font-family: 'Dancing Script', cursive;*/


/* ------------------------------- Nav ------------------------------- */

.nav {
  background-color: rgb(67, 56, 62);
  padding: 30px;
  color: white;
}

.nav-button {
  padding: 10px;
}

.nav-container {
  display: grid;
  grid-template-columns:  6;    
  grid-template-rows: 1;
}

.nav-ul {
  text-decoration: none;
  grid-column-start: 4;
  grid-column-end: 6;
}

/* ------------------------ Home Page & Login ------------------------ */

.home-container {
  display: grid;
  justify-items: center;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.home-title {
  font-size: 8rem;
  font-family: 'Dancing Script', cursive;
}

.home-subtitle{
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.login-form {
  margin-top: 40px;
}

.home-login-form {
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-pic {
  width: 50rem;
}

/* --------------------------- New Bake Form ------------------------- */

.new-bake-container {
  margin-left: 3rem;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  padding: 3rem;
}

/* .form-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-radius: 30px;
  background-color: black;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2/4;
} */

.new-bake-img {
  text-align: center;
  padding: 1em;
  width: 50rem;
}

.new-bake-form {
  color: black;
  padding: 1em;
}

.new-form-table {
  margin-top: 10px;
  border-spacing: 2rem;
}

.name-your-bake {
 margin-top: 30px;
}

.hydration-required {
  margin-top: 30px;
}

.create-bake-button {
  display: inline;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  margin-top: 20px;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color:white;
  background-color: black;
  text-align:center;
  transition: all 0.2s;
}

/* --------------------------- View Bakes Page ------------------------- */

/* Main container holding all the bake cards */
.main-container-view-bakes {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  
}

/* each bake card container */
.bake-card {
  background-color: whitesmoke;
  border: 2px solid #241f1f;
  border-radius: 0.8rem;
  padding: 1.5rem;
  width: 30rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 20px;
}

.modal {
  background-color: whitesmoke;
  border: 2px solid #241f1f;
  border-radius: 0.8rem;
  padding: 1.5rem;
  text-align: center;
  position: fixed;
  top: 0;

  width: 35rem;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 20px;
}

.bake-card-img {
  border-radius: 10%;
  width: 10rem;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 0.5rem;
}

.bake-card-info {
  width: 15rem;
  grid-column-start: 2;
  grid-column-end: 3;
}


.buttons-cards {
  display: inline;
  padding: 2px 0.8em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  margin-top: 15px;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  color:white;
  background-color: black;
  text-align:center;
  transition: all 0.2s;
}

.delete-button {
  display: inline;
  padding: 2px 0.8em;
  border: 0.1em solid black;
  margin:0 0.3em 0.3em 0;
  margin-top: 15px;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  color:red;
  text-align:center;
  transition: all 0.2s;
}

/* bake card elements */
/* .bake-card-items {
  background-color: darkslateblue;
  grid-column: 1;
} */