/* ------------------------ Global attributes ------------------------ */

body {
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif; 
}

div p {
  font-size: small;
}

div h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}

div h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

div h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

div h4 {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 16px;
  font-weight: lighter;
}

div h5 {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 12px;
  font-weight: lighter;
}

label {
  font-family: 'Noto Sans JP', sans-serif; 
  font-size: 15px;
  font-weight: normal;
  margin-right: 0.7rem;
}

.button:hover{
  color: #000000;
  background-color:#FFFFFF;
  border-color: black;
}

div footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: black;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Google font references */
/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Noto Sans JP', sans-serif; 
font-family: 'Dancing Script', cursive;*/


/* ------------------------------- Nav ------------------------------- */

.nav {
  background-color: #e3caab;
  display: flex;
  width: 100%;
}

.nav-button {
  background-color: transparent;
  border:none;
  align-content: right;
  margin: 0.5rem;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  font-weight: lighter;
}

.nav-button:hover {
  border-bottom: thin solid brown;
}

.nav-container {
  color: #e3caab;
}

.nav-ul {
  text-decoration: none;
  grid-column-start: 4;
  grid-column-end: 6;
}

.nav-logo {
  width: 15%;
}

/* ------------------------ Home Page & Login ------------------------ */

.home-container {
  display: grid;
  justify-items: center;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.home-title {
  font-size: 8rem;
  font-family: 'Dancing Script', cursive;
}

.home-logo {
  border-radius: 50%;
  width: 35%;
  margin-bottom: 1rem;
}

.home-subtitle{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Dancing Script', cursive;
}

.login-form {
  margin-top: 0.1rem
}

.home-login-form {
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-pic {
  width: 45rem;
}

.login-button {
  display: inline;
  padding: 0.05em 1em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.2em 0.2em 0;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color:white;
  background-color: black;
  text-align:center;
  transition: all 0.2s;
  }

  .login-input[type=text], select {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* --------------------------- New Bake Form ------------------------- */

.new-bake-container {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  padding: 3rem;
}

.new-bake-img {
  text-align: center;
  padding: 1em;
  width: 50rem;
}

.new-bake-form {
  color: black;
  display: grid;
  grid-template-rows: repeat(3);
  row-gap: 2rem;
}

.user-inputs-bake {
  display: grid;
  grid-template-rows: repeat(3);
  row-gap: 1rem;
}

.create-bake-button {
  display: inline;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  margin-top: 20px;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  color:white;
  background-color: black;
  text-align:center;
  transition: all 0.2s;
}

/* --------------------------- View Bakes Page ------------------------- */

/* Main container holding all the bake cards */
.main-container-view-bakes {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* each bake card container */
.bake-card {
  background-color: whitesmoke;
  border: 2px solid #241f1f;
  border-radius: 0.8rem;
  padding: 1.5rem;
  width: 30rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 20px;
}

.bake-card-img {
  border-radius: 10%;
  width: 10rem;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 0.5rem;
}

.bake-card-info {
  width: 15rem;
  grid-column-start: 2;
  grid-column-end: 3;
}

.buttons-cards {
  display: inline;
  padding: 2px 0.8em;
  border: 0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  margin-top: 15px;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  color:white;
  background-color: black;
  text-align:center;
  transition: all 0.2s;
}

.filter-bakes-container {
  padding: 1.5rem;
  font-size: 1rem;
  display: inline-block;
}



/* --------------------------- Popup to edit bake card ------------------------- */

.modal {
  /* Positioning */
  /* position: fixed; */
  position: absolute;
  top: 20%;
  left: 33%;

  /* Styling */
  background-color: whitesmoke;
  border: 2px solid #241f1f;
  border-radius: 0.8rem;
  padding: 1.5rem;
  width: 35%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 20px;
}

.popup-sections {
  margin: 0.5rem;

}

.popup-titles {
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  color:black;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

/* .popup-ingredients {
  border: 0.1em solid blue;
}

.rating-select {
  border: 0.1em solid purple;
}

.notes-popup-section {
  border: 0.1em solid fuchsia;
}*/

.save-or-delete {
  margin-top: 1.5rem;
  text-align: center;
} 

.delete-button {
  display: inline;
  padding: 2px 0.8em;
  border: 0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  color:red;
  text-align:center;
  transition: all 0.2s;
}

.save-button {
  display: inline;
  padding: 2px 0.8em;
  border: 0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  color:blue;
  text-align:center;
  transition: all 0.2s;
}

.note-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
}

.view-notes-div {
  border-radius: 10%;
  border-color: darkgray;
}

.note-content {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.7rem;
  font-weight: lighter;
}

.edit-delete-note-button {
  display: inline;
  padding: 2px 0.5em;
  border: 0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: .8rem;
  color:black;
  text-align:center;
  transition: all 0.2s;
}